@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");

:root {
  --pivotal-grey: #e6e6e6;
  --pivotal-red: #b8222e;
  --page-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", sans-serif;
}
nav {
  background-color: var(--pivotal-grey);
  /* width: clamp(20px, (100vw-1200px) * 100000px, 100vw); */
  width: clamp(1200px, calc(100vw - 1200px) * 10000, 100vw);
  height: 175px;
}

/** Navigation Bar Styles **/

.nav__container {
  width: var(--page-width);
  display: flex;
  justify-content: center;
  margin: auto;
  height: 100%;
  padding: 0 20px;
  align-items: center;
}

.nav__logo {
  height: 45px;
  width: 287px;
}

.nav__nav-link {
  margin-left: auto;
  margin-right: 40px;
  display: flex;
  align-items: center;
}

.nav__icon--user {
  display: inline;
  height: 32px;
  margin: 0 10px;
}

.nav_nav-link--text {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--pivotal-red);
}

/** Main Content Styles **/

.container {
  width: var(--page-width);
  margin: auto;
  padding: 0 20px;
}

.title__container {
  width: 50%;
  display: flex;
  margin: auto;
}

.title__text {
  font-size: 2.5rem;
  text-align: center;
  color: var(--pivotal-red);
  padding: 75px 0;
}

/** Card Styles **/

.card {
  background-color: var(--pivotal-grey);
  display: flex;
  margin-bottom: 20px;
  border-radius: 15px;
  min-width: 1000px;
}

.card__content-container {
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 300px;
  width: 420px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  overflow: hidden;
}

.card__title {
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: 2rem;
  margin-bottom: 80px;
}

.card__description {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.35rem;
  font-weight: 300;
  margin-bottom: 215px;
}

.card__icon {
  width: 90px;
  margin-bottom: 25px;
  transform: translateX(-10px);
}

.card__link {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  border-bottom: solid 3px white;
  margin-right: auto;
  text-decoration: none;
  color: #ffffff;
}

.card__main-photo {
  align-self: center;
  min-width: 450px;
  margin: 0px 40px 0px 50px;
}
